body {
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  width: 450px;
  height: 550px;
  background-color: #fff;
  padding: 30px;
  text-align: center;
}

.card-image {
  width: 230px;
  height: 230px;
  border-radius: 150px;
  transition: transform .3s;

}
.card-image:hover {
  transform: scale(1.2);
  filter: grayscale(100%);
}

.card-paragraph {
  text-align: center;
  font-size: 18px;
  color: coral;
  margin-top: 20px;
  line-height: 25px;
  letter-spacing: 0.11px;
}

.card-social {
  text-align: center;
  width: 95%;
  margin-top: 40px;
}

.fab:hover {
  transform: scale(1.2);
}

.card-social a {
  padding: 30px;
  color: coral;
}
